@import "./palettes.scss/palettes.scss";

h1 {
    display: flex;
    background-color: $cal-poly-green;
    border: 2px black dashed;
}

.btn {
    background-color: $honeydew;
    width: 200px;
    height: 100px;

    &--primary {
        font-size: larger;
    }

    &--secondary {
        color: purple;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    &--urgent {
        background-color: $silver;
        border: red solid 10px;
        text-decoration: underline;
        color: $oxford-blue;
    }
}
