#border {
    border: solid black 2px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.row-card {
    display: flex;
    flex-direction: row-reverse;
}

.card {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#card1 {
    background-color: aqua;
    margin: 10px;
}
#card2 {
    background-color: blue;
    margin: 10px;
}
#card3 {
    background-color: yellow;
    margin: 10px;
    text-align: center;
}
#card4 {
    background-color: green;
    margin: 10px;
    text-align: center;
}
#card5 {
    background-color: brown;
    margin: 10px;
    text-align: center;
}
#card6 {
    background-color: bisque;
    margin: 10px;
    text-align: center;
}
#card7 {
    background-color: red;
    margin: 10px;
    text-align: center;
}
#card8 {
    background-color: orange;
    margin: 10px;
    text-align: center;
}
